.header {
  background: var(--gray-700);
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3rem;
}

.header img {
  height: 2.25rem;
  padding: 0.5rem;
}

.to {
  color: var(--blue);
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.5rem;
}

.do {
  color: var(--purple-dark);
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.5rem;
}
